.r180deg
{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


html
{
  margin: 0;
  padding: 0;
}

body
{
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

header
{

}

main
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 12px;
  margin-bottom: 12px;
}

#mainCanvas
{
  border: 1px solid black;
}

footer
{

}